<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JQuery Box</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src=" https://code.jquery.com/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
    <title></title>
  </head>
  <body>
    
  </div>
    <div class="well well-sm text-center">
      <h1>Air Mail</h1>
       <div class="container" style="display: flex; justify-content: center;">
        <div class="col-xs-1">
          <button id="btn1" data-panel="#panel1" class="btn btn-success panel-button">Home</button>
        </div>
        <div class="col-xs-1">
          <button id="btn3" data-panel="#panel2" class="btn btn-warning panel-button">About</button>
        </div>
        <div class="col-xs-1">
          <button id="btn6" data-panel="#panel3" class="btn btn-info panel-button">Contact</button>
        </div>
      </div>
    </div>

  </body>
</html>

<h3>Log In:</h3>
<%= form_tag login_path do %>
  <p>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </p>
  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= submit_tag 'Log In' %>
  </p>

<% end %>
<p>
  <%= link_to 'Sign Up', new_user_path %>
</p>
