<!-- Buttons trigger modal -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <!-- <div class="container-fluid"> -->
    
    <div class="row">
      <% if current_user %>
      Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
      <% else %>
      <%= link_to '', '/login' %>
      <% end %>
    </div>
  <!-- </div> -->

	<button type="button" class="btn navbar-right btn-lg" data-toggle="modal" data-target="#myModal" style="background-color: #00bc8c;">
	  About
	</button>
	<button type="button" class="btn navbar-right btn-lg" data-toggle="modal" data-target="#myModal2" style="background-color: #00bc8c;">
	  Contact
	</button>
	<button type="button" class="btn navbar-right btn-lg" data-toggle="modal" data-target="#myModal3" style="background-color: #00bc8c;">
	  Donate
	</button>
</nav>

<!-- About Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About</h4>
      </div>
      <div class="modal-body">
        AirMail was developed by three computer programers, who attended the Wyncode Academy of Miami.
        It was the basis of their final project. The application was built on Ruby on Rails and uses html, css, and bootstrap for styling. We aim to serve travelers all over the world! Coming to an AirPort Near you!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Contact Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contact</h4>
      </div>
      <div class="modal-body">
       1-800-AIR-MAIL || air@mail.com
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
       

<!-- Donate Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Donate</h4>
      </div>
      <div class="modal-body">
       If you don't care to mail your item, feel free to donate and we'll get it to someone in need! All you need to do is place item in bag and drop into kiosk. That's it!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
 <div class="col-md-6"><center><%= button_to 'Sign Up', new_user_path, :method => :get, :class => "btn btn-primary btn-lg" %>
</center></div>

 <div class="col-md-6"><center><%= button_to 'Login', login_path, :class => "btn btn-primary btn-lg" %>
 </center>
</div>

<% if current_user %>
 <%= link_to 'My Packages', packages_path, :class => "btn btn-warning" %>
<% end %>
</div>
<br>

<div style="position: absolute; bottom: 10%; right: 25%; left: 25%;">
    <h1 style="font-family: parkavenue;"><em>"Don't toss it. Ship it."</em></h1>
</div>
