<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JQuery Box</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src=" https://code.jquery.com/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
    <title></title>
  </head>
  <body>
    <div class="well well-sm text-center">
      <h1>Air Mail</h1>
       <div class="container" style="display: flex; justify-content: center;">
        <div class="col-xs-1">
          <button id="btn2" data-panel="#panel1" class="btn btn-success panel-button">Home</button>
        </div>
        <div class="col-xs-1">
          <button id="btn2" data-panel="#panel2" class="btn btn-warning panel-button">About</button>
        </div>
        <div class="col-xs-1">
          <button id="btn2" data-panel="#panel3" class="btn btn-info panel-button">Contact</button>
        </div>
      </div>
    </div>

  </body>
</html>


<h3>Sign Up</h3>
<%= form_for(@user, url: users_path) do |f| %>

  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.label :phone_number %>
    <%= f.number_field :phone_number %>
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Log In', root_path %>
