<!DOCTYPE html>
<html style="text-align: center;">

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @package.shipping %></span>
    </label>
  </article>

  <%= hidden_field :package, :shipping %>



  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="AirMail"
          data-image="http://i65.tinypic.com/2cg0fx3.png"
          data-description="Shipping Package"
          data-amount=<%= (@package.shipping * 100) %>
          data-zip-code="True"
          data-billing-address="True"
          data-locale="auto"></script>

 <%= link_to 'My Packages', packages_path, :class => "btn btn-warning" %></center>
<% end %>

</html>
