<!DOCTYPE html>
<html>
<head>
  <title>AirMail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-kVo/Eh0sv7ZdiwZK32nRsp1FrDT3sLRLx3zVpSSTI9UdO5H02LJNLBg5F1gwvKg0" crossorigin="anonymous">
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"   integrity="sha256-tp8VZ4Y9dg702r7D6ynzSavKSwB9zjariSZ4Snurvmw="   crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
          <% if current_user %>
          Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
          <% else %>
          <%= link_to '', '/login' %>
          <% end %>
        </div>
      </div>
  </nav>

  <div class="container">
    <div class="jumbotron">

      <center><img src="http://i65.tinypic.com/2cg0fx3.png" alt="Air Mail" height="25%" width="25%"></center>

      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-primary" style="width: 100%"></div>
      </div>

        <%= yield %>

      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-primary" style="width: 100%"></div>
      </div>

    </div>
  </div>
</body>
</html>
